.searchFormWrapper {
  display: flex;
  justify-content: center;

  form {
    position: relative;

    ul {
      position: absolute;
      top: 22px;
      left: 0;
      right: 40px;
      background-color: #fff;
      border: 1px solid green;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: 1px solid green;
        cursor: pointer;
      }
    }
  }
}
